localhost:8081 {
	root * /srv/app/public

	php_fastcgi 127.0.0.1:9000 {
		root /srv/app/public
	}

	rewrite * index.php?{query}
	log
}

http://localhost:8080 {
	redir https://localhost:8081 permanent
}
